
body {
    background-color: rgb(189, 245, 226);
}

#number {
    padding: 3.5px;
    width: 200px;
    font-size: 15px;
    font-family: Calibri;
    font-weight: 400;
    background-color: rgb(238, 239, 237);
    border: 0.5px solid black;
    border-radius: 3px;
}

#submit {
    padding: 3px 10px 4.5px 10px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(245, 235, 222);
    font-weight: 500;
    background-color: rgb(245, 165, 84);
    border: 1.5px solid black;
    border-radius: 3px;
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(55, 55, 246, 0.656);
}

.text-element {
    /* border: 1px solid black; */
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.target-element {
    border: 1px solid black;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: yellow;

}

#user-input {
    text-align: center;
}

#info {
    text-align: left;
}

#pascaltriangle {
    white-space: nowrap;
}